@import "common.scss";
.box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    header {
        width: 100%;
        height: pxTorem(44px);
        display: flex;
        justify-content: space-around;
        span {
            text-align: center;
            line-height: pxTorem(44px);
            font-weight: bold;
        }
        .active {
            color: #f00;
        }
    }
    section {
        width: 100%;
        overflow-y: auto;
        flex: 1;
        .swiper-container {
            width: 100%;
            height: 100%;
            .swiper-wrapper {
                width: 100%;
                height: 100%;
                .swiper-slide {
                    width: 100%;
                    height: 100%;
                    .myad {
                        width: 100%;
                        height: 100%;
                        .list {
                            width: 100%;
                            display: flex;
                            padding: 0 pxTorem(10px);
                            box-sizing: border-box;
                            justify-content: space-around;
                            flex-wrap: wrap;
                            background: #eee;
                            dl {
                                width: 45%;
                                height: pxTorem(260px);
                                dt {
                                    width: 100%;
                                    height: 90%;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                                dd {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}